@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        color: rgb(211, 211, 211);
        font-family: "Segoe UI", sans-serif;
    }

    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    ul {
        list-style: square;
        @apply ml-4;
    }

    table {
        @apply border-collapse;
    }

    a[target="_blank"] {
        @apply text-orange-500 hover:text-orange-400 hover:underline;
    }

    .cardboard {
        color: #ad8762;
    }

    .wood {
        color: #966F33;
    }

    .bronze {
        color: #CD7F32;
    }

    .silver {
        color: #C0C0C0;
    }

    .gold {
        color: #FFD700;
    }

    .platinum {
        color: #2ecc71;
    }

    .diamond {
        color: #b9f2ff;
    }

    .rhythm-incarnate {
        color: transparent;
        background-image: linear-gradient(#c14790, #8c92bd);
        background-clip: text;
    }

    .the-one {
        color: transparent;
        background-image: linear-gradient(#ff0070, #f98c8c);
        background-clip: text;
    }

    .tooltip {
        @apply absolute hidden group-hover:inline-block p-2 z-50 bg-orange-600 text-center text-white text-sm font-bold;
        left: 2.5rem;
        border: solid 0 transparent;
        border-radius: 10px;
        pointer-events: none;
        width: 6rem;
    }

    .tooltip::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        bottom: calc(50% - 7.5px);
        left: -7px;
        border: 7px solid transparent;
        border-left: none;
        border-right-color: #ea580c;
    }

    .default-btn {
        @apply text-white bg-orange-600 hover:bg-orange-500 rounded-lg py-1.5 px-3;
    }
}